@font-face {
    font-family: 'Test_Bold';
    src:    url('/../fonts/Test_ttf/Test-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Test_Regular';
    src:    url('/../fonts/Test_ttf/Test-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Test_Semi Bold';
    src:    url('/../fonts/Test_ttf/Test-Semi_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
